.parcelspage_main {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    min-height: 85vh;

    .parcels_p_h {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        align-items: center;
        margin-top: 10px;

        .parcels_p_h_a {
            position: absolute;
            left: 20px;
            transition: all 150ms ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        h2 {
            color: rgb(74, 74, 173);
        }
    }

    .parcels_p_f {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        align-items: center;

        .parcels_p_f_btn {
            background-color: rgb(255, 255, 255);
            margin: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 6px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0.6px 1px 1px rgba(0, 0, 0, 0.2);
            transition: all 150ms ease-in-out;

            &:hover {
                background-color: rgb(202, 202, 202);
            }

            p {
                font-size: 13px;
                margin-left: 5px;
                color: rgb(74, 74, 173);
                font-weight: bold;
            }
        }

        #parcels_p_f_btn {
            background-color: rgb(74, 74, 173);

            p {
                color: white;
                font-weight: 400;
            }

            &:hover {
                background-color: rgb(88, 88, 211);
            }
        }

        .parcels_p_f_send_parcel {
            background-color: rgb(21, 180, 0);
            color: white;
            outline: none;
            border: none;
            margin: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5.5px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0.6px 1px 1px rgba(0, 0, 0, 0.2);
            transition: all 150ms ease-in-out;
            font-weight: 400;

            &:hover {
                background-color: rgb(24, 204, 0);
            }
        }
    }

    .parcels_p_g {
        display: grid;
        padding: 5px;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
        justify-items: center;

        .parcels_p_g_i {
            background-color: rgba(74, 74, 173, 0.2);
            display: flex;
            flex-direction: column;
            align-self: center;
            margin-top: 10px;
            width: 550px;
            min-width: 550px;
            max-width: 550px;
            height: 100%;
            align-items: center;
            padding: 5px;
            padding-left: 8px;
            border-radius: 5px;
            box-shadow: 0.6px 1px 1px rgba(0, 0, 0, 0.2);
    
            .p_p_g_i_p {
                font-size: 13px;
                font-weight: bold;
                padding: 5px;
            }
    
            .p_p_g_i_btn {
                outline: none;
                border: none;
                background-color: rgb(74, 74, 173);
                margin: 2px 3px 5px 1px;
                padding: 9px 1px;
                border-radius: 5px;
                color: white;
                align-self: center;
                transition: all 150ms ease-in-out;
                min-width: 120px;
                cursor: pointer;
                align-self: flex-end;
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: center;
    
                &:hover {
                    transform: scale(1.03);
                    background-color: rgb(88, 88, 211);
                }
            }
        }
    }
}

@media (max-width:720px) {

    .parcelspage_main {

        .parcels_p_h {

            .parcels_p_h_a {

                &:hover {
                    transform: scale(1);
                }
            }

            h2 {
                font-size: 18px;
            }
        }

        .parcels_p_g {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .parcels_p_g_i {
                width: 97%;
                min-width: 97%;
                max-width: 97%;
    
                .p_p_g_i_p {
                    font-size: 12px;
                    padding: 2px;
                }
    
                .p_p_g_i_btn {
                    width: 100px;
                    min-width: 100px;
                    max-width: 100px;
                    height: 38px;
                    min-height: 38px;
                    max-height: 38px;
    
                    &:hover {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}