.cartitem_main {
    width: 300px;
    min-width: 300px;
    // max-width: 300px;
    flex-grow: 1;
    background-color: rgba(74, 74, 173, 0.2);
    border-radius: 4px;
    display: flex;
    box-shadow: 0.6px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(250, 250, 250, 0.9);

    .cart_item_1 {
        width: 70px;
        min-width: 70px;
        max-width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        position: relative;
        padding-bottom: 20px;

        .cart_i_dp {
            width: 45px;
            min-width: 45px;
            max-width: 45px;
            height: 45px;
            min-height: 45px;
            max-height: 45px;
            background-color: rgba(74, 74, 173, 0.3);
            border-radius: 4px;
            box-shadow: 0.6px 2px 2px rgba(0, 0, 0, 0.05);
            margin-bottom: auto;

            img {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                height: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }
    }

    .cart_item_2 {
        width: 230px;
        min-width: 230px;
        max-width: 230px;
        padding: 2px;
        display: flex;
        flex-direction: column;

        .cart_i_name {
            font-size: 14px;
            margin-top: 5px;
            // color: rgb(74, 74, 173);
            color: rgb(80, 80, 80);
            margin-left: 0;
            margin-bottom: 0px;
        }

        .cart_i_price {
            font-size: 11.5px;
            margin-top: 1px;
            margin-bottom: 1px;
            display: flex;

            span {
                font-size: 15px;
                margin-left: 3px;
            }
        }

        .cart_i_shp {
            font-size: 12.5px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .cart_i_pc {
            width: 96%;
            min-width: 96%;
            max-width: 96%;
            align-self: flex-start;
            height: 42px;
            min-height: 42px;
            max-height: 42px;
            border-radius: 4px;
            border: none;
            outline: none;
            margin-bottom: 10px;
            // background-color: rgb(74, 74, 173);
            background-color: rgb(148, 148, 148);
            color: white;
            font-size: 14px;
            transition: all 150ms ease-in-out;
            margin-top: auto;
            display: flex;
            flex-direction: row;
            box-shadow: 0.6px 2px 2px rgba(0, 0, 0, 0.1);

            button {
                width: 42px;
                min-width: 42px;
                max-width: 42px;
                height: 42px;
                min-height: 42px;
                max-height: 42px;
                border: none;
                outline: none;
                // background-color: rgb(74, 74, 173);
                background-color: rgb(148, 148, 148);
                border-radius: 3px;
                color: white;
                font-weight: bold;
                font-size: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 150ms ease-in-out;

                &:hover {
                    // background-color: rgb(92, 92, 214);
                    background-color: rgb(184, 184, 184);
                }
            }

            input {
                width: 44px;
                min-width: 44px;
                height: 100%;
                min-height: 100%;
                max-height: 100%;
                outline: none;
                border: none;
                background-color: white;
                font-weight: bold;
                font-size: 16px;
                flex-grow: 1;
                padding-left: 4px;
                letter-spacing: 0.3px;
            }
        }
    }
}

@media (max-width:644px) {
    .cartitem_main {
        width: 100%;
        min-width: 100%;
        max-width: 100%;

        .cart_item_1 {
            width: 20%;
            min-width: 20%;
            max-width: 20%;
        }
    
        .cart_item_2 {
            width: 80%;
            min-width: 80%;
            max-width: 80%;
        }
    }
}